# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. plotly

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

###Â Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
( 3 * 4 ) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Create and run arithmetic expressions in Python  
- Convert minutes to hours using Python code  
- Create tables and lists using Markdown

## Author
Apostolos Lytras